<html>
  <head>
    <title>Rank</title>
    <script type="text/javascript" src="{{ url_for('static',    filename='javascript/spider.js') }}"></script>

    <script>
        var i;
        var arr=[['URL','Rank']];
        var temp;
        for(i=0;i<spiderJson.nodes.length;i++){
            arr.push([spiderJson.nodes[i].url,spiderJson.nodes[i].rank]);
            
        }
        
    </script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawStuff);

      function drawStuff() {
        var data = new google.visualization.arrayToDataTable(arr);

        var options = {
          width: 1500,
          legend: { position: 'none' },
          chart: {
            title: 'Rank of Webpages',
            subtitle: '' },
          axes: {
            x: {
              0: { side: 'top', label: 'URL'} 
            }
          },
          bar: { groupWidth: "90%" }
        };

        var chart = new google.charts.Bar(document.getElementById('top_x_div'));
        
        chart.draw(data, google.charts.Bar.convertOptions(options));
      };
    </script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',    filename='css/header.css') }}">
  </head>
  <body>
    <header>
      <h1><a href="{{ url_for('my_form') }}">Web Crawler</a></h1>
      <nav>
        <a href="{{ url_for('chart') }}">Chart</a>
        <a href="{{ url_for('rank') }}" class="active">Rank</a>
        <a href="{{ url_for('weight') }}">Weight</a>
        <a href="{{ url_for('table') }}">Table</a>
      </nav>
    </header>

    <div id="top_x_div" style="width: 1000px; height: 700px;"></div>
  </body>
</html>
